// Add scss includes explicitly here.
@import 'caseflow_main';

.cf-logo-image-default {
  background-image: url(asset-path('caseflow-feedback-logo.svg'));
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.cf-logo-image-feedback {
  background-image: url(asset-path('caseflow-feedback-logo.svg'));
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

textarea {
  width: 46rem;
}

.cf-form-textarea,
.cf-form-textinput {
  max-width: 47.9rem;
  width: 47.9rem;
}

.italic {
  font-style: italic;
  margin-bottom: 1rem;
  float: right;
}

.margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.feedback-out {
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.feedback-in {
  width: 46rem;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 0;
}

.cf-application-title {
  font-size: 1.7rem;
  font-weight: normal;
  margin-left: rem(2px);
  display: inline;
}

.pagination {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
}

.feed {
  word-wrap: break-word;
  vertical-align: top;
}

.table-width {
  table-layout: fixed;
  width: 100%;
}

.user-col {
 width: 200px;
 vertical-align: top;
 padding-bottom: 30px;
}

.date-col {
 width: 120px;
 vertical-align: top;
 padding-bottom: 30px;
}

.app-col {
 width: 160px;
 vertical-align: top;
 padding-bottom: 30px;
}

.feedback-col {
 width: 350px;
 word-wrap: break-word;
 vertical-align: top;
 padding-bottom: 30px;
}

.issue-col {
 width: 80px;
 vertical-align: top;
 padding-bottom: 30px;
}
