// Place all the styles related to the Feedback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Overrides textarea max-width from commons*/
textarea {
  max-width: 46rem !important;
  margin-right: none;
}

.cf-required {
  float: right;
  font-style: italic;
}

.feedback-out {
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.feedback-in {
  width: 46rem;
  height: auto;
  margin: 0 auto;
}
