<div>
  <div class="cf-app-segment cf-app-segment--alt">
    <h1>Thanks for your feedback!</h1>
    <p> Your feedback has been recorded. We appreciate your comments! <a href="/"> Send in more feedback</a> at any time. </p>
  </div>
  <div class="cf-app-segment">
    <a href='<%= app_display_url %>'>
      <button class="cf-submit cf-push-right" >Back to <%= app_display_name %></button>
   </a>
  </div>
</div>


