<div>
  <div class="cf-app-segment cf-app-segment--alt">
    <h1 class="cf-msg-screen-heading">Thank you</h1>
    <p class="cf-msg-screen-text"> Your feedback has been successfully recorded. <a href="/" onClick="ga('send', 'event', { eventCategory: 'Home', eventAction: 'ClickSendInMore', eventLabel: 'SendInMore', eventValue: 1});"> Send more feedback</a> at any time. </p>
  </div>
  <div class="cf-app-segment">
    <a onClick="ga('send', 'event', { eventCategory: 'BackToOrigin', eventAction: 'ClickBackTo', eventLabel: 'BackToOrigin', eventValue: 1});">
      <button class="cf-submit cf-push-right">Close Feedback</button>
   </a>
  </div>
</div>
